.Header {
  font-family: "Poppins", sans-serif;
  color: #2d2d2a;
}

.articles {
  grid-area: 1 / 3 / 2 / 4;
  flex-wrap: wrap;
  text-align: left;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zone {
  margin: 0px 50px 0px 20px;
  color: #000000;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #282c34;
  transition: all 0.2s linear;
}

.zonenohov {
  margin: 30px 50px 0px 20px;
  color: #000000;
  font-size: 1em;
  border-radius: 2px;
  border: 2px solid #282c34;
  text-align: left;
}

.zonenoborder {
  margin: 0px 20px 0px 20px;
  padding: 20px 20px 20px 20px;
  color: #000000;
  font-size: 1em;
  border-radius: 2px;
  border: none;
}

.zone:hover {
  -webkit-box-shadow: #f46036 0px 5px 10px;
  -moz-box-shadow: #f46036 0px 5px 10px;
  -o-box-shadow: #f46036 0px 5px 10px;
  box-shadow: #f46036 0px 5px 10px;
}

.commentinput {
  width: 500px;
  height: 100px;
  border: 1px solid;
}

.box {
  background-color: #eca400;
  padding: 20px 20px 20px 20px;
  margin: 5px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  justify-content: top;
  border: 0px;
  margin: 0px 50px 0px 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  font-size: 1.5em;
  background-color: #f46036;
  font-family: "Poppins", sans-serif;
  color: #000000;
  padding: 2px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 1.5em;
    padding: 0;
  }
}

.navnav {
  padding: 10px;
  text-decoration: none;
  color: #2d2d2a;
  margin: center;
}

li {
  list-style: none;
  text-align: left;
}

.title {
  text-decoration: none;
  font-size: 1.3em;
  font-family: "Poppins", sans-serif;
  color: #2d2d2a;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
}

a {
  text-decoration: none;
  color: #2d2d2a;
}

.articlebody {
  font-family: "Poppins", sans-serif;
  color: #2d2d2a;
}

.displayDeleteButton {
  visibility: visible;
}

.dontDisplayDeleteButton {
  visibility: hidden;
}

.slideshow {
  position: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1457131760772-7017c6180f05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1472&q=80);
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1524293568345-75d62c3664f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1495106245177-55dc6f43e83f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1508077260166-098583f5aab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1486485764572-92b96f21882a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}
